

#burguer, #cancel{
    display: none;
}

nav{
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
nav > a{
    color: var(--cor4);
    margin: 0px 15px;
}
.redes{
    width: 70px;
    height: 70px;
}
/* INTRO */
.div_img{
    width: 240px;
    height: 240px;
}
.div_img02{
    width: 230px;
    height: 230px;
}
#keyton{
    width: 220px;
    height: 220px;
}

/* SECT_HABI */
.div_habi{
    flex-direction: row;
}
.div_habi > .habilidades{
    margin: 20px 30px;
}


/* SECT_PROJ */
.figures{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.figures figure{
    width: 40%;
}
.linkProj a{
    padding: 3px 10px;
}